<div class="container">

    @for (card of cardList; track $index) {
    <div class="card">
        <mat-card class="example-card" appearance="outlined" [ngClass]="card.status?'status-done':''">
            <mat-card-header>
                <mat-card-title>{{card.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{card.content}}</p>
            </mat-card-content>
            <mat-card-footer class="example-card-footer">
                <mat-chip-set aria-label="Chihuahua traits">
                    <mat-chip (click)="remove(card.id)">Delete</mat-chip>
                    @if(!card.status) {<mat-chip (click)="done(card.id)">Mark done</mat-chip>}
                </mat-chip-set>
            </mat-card-footer>
        </mat-card>

    </div>
    }@empty {
    Sorry No Item for selection
    }



</div>